@import url('');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: url(banana.cur), auto !important;
}

html {
  font-size: 15px;
  scroll-behavior: smooth;
  font-family: ;
}

body {
  min-height: 100vh;
  min-width: 100vw;
}
